/*出勤ボタンのCSS*/
.btn-circle-border-simple_in {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: solid 2px #668ad8;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
}

.btn-circle-border-simple_in:hover {
  background: #b3e1ff;
}
/*退勤ボタンのCSS*/
.btn-circle-border-simple_out {
  display: inline-block;
  text-decoration: none;
  color: #dc143c;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: solid 2px #dc143c;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
}

.btn-circle-border-simple_out:hover {
  background: #ff9999;
}
/*勤務実績ボタンのCSS*/
.btn-circle-border-simple_list {
  display: inline-block;
  text-decoration: none;
  color: #00947a;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: solid 2px #00947a;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
}

.btn-circle-border-simple_list:hover {
  background: #99ffcc;
}

.wrapper_main {
   display: -webkit-flex;
   display: flex;
    -webkit-flex-flow: row nowrap;
   flex-flow: row nowrap;
   width: 80%;
}

.wrapper_day_time {
    display: flex;
    justify-content: center; /*左右中央揃え*/
    align-items: center;     /*上下中央揃え*/
    margin-right: 20px;
   -webkit-flex-direction: column;
   flex-direction: column;
   width: 100%;
}

.all_wrapper {
    height: 100vh;
    display: flex;
    justify-content: center; /*左右中央揃え*/
    align-items: center;     /*上下中央揃え*/
}
.wrapper_select_button {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.place1,.place2,.place4 {
  font-size: 85px;
  font-weight: bold;
}
.clock_size {
  width: 100%;
}
.clock_size_sec {
  margin-top: 100%;
  margin-bottom: 0;
}
.hms {
   display: -webkit-flex;
   display: flex;
    -webkit-flex-flow: row nowrap;
   flex-flow: row nowrap;
   width: 100%;
   margin:0 auto;
}