

.flash_message {
  background: #b3e1ff;
}
/*フラッシュメッセージ時限装置*/
#hideMe {
  -moz-animation: cssAnimation 0s ease-in 1.5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 1.5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 1.5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 1.5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  font-size: 2em;
}
@keyframes cssAnimation {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
  }
}
.Setting {
  display: flex;
  position: absolute;
  top:0;
  left:0;
}
/*出勤ボタンのCSS*/
.btn-circle-border-simple_in {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: solid 2px #668ad8;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  font-size: 25px;
  transition: .4s;
}

.btn-circle-border-simple_in:hover {
  background: #b3e1ff;
}
/*退勤ボタンのCSS*/
.btn-circle-border-simple_out {
  display: inline-block;
  text-decoration: none;
  color: #dc143c;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: solid 2px #dc143c;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  font-size: 25px;
  transition: .4s;
}

.btn-circle-border-simple_out:hover {
  background: #ff9999;
}
/*勤務実績ボタンのCSS*/
.btn-circle-border-simple_list {
  display: inline-block;
  text-decoration: none;
  color: #00947a;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: solid 2px #00947a;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  font-size: 25px;
  transition: .4s;
}

.btn-circle-border-simple_list:hover {
  background: #99ffcc;
}

.all_wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center; /*左右中央揃え*/
    align-items: center;     /*上下中央揃え*/
    height: 90%;
    -webkit-flex-direction: column;
   flex-direction: column;
}

.wrapper_message {
  position: absolute;
  top: 20%;
  left: 45%;
}

.wrapper_main {
  display: -webkit-flex;
  display: flex;
   -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  width: 100%;
}

.wrapper_day_time {
  display: flex;
  justify-content: center; /*左右中央揃え*/
  align-items: center;     /*上下中央揃え*/
  margin-right: 20px;
 -webkit-flex-direction: column;
 flex-direction: column;
 width: 40%;
}

.wrapper_day_youbi {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin-left: 7%;
  margin-bottom: 5%;
}

#youbi {
  display: flex;
  justify-content: center; /*左右中央揃え*/
  align-items: center;     /*上下中央揃え*/
  font-size: 32px;
  font-weight: bold;
  margin-left: -5%;
}

.wrapper_select_button {
    display: flex;
    width: 70%;
    justify-content: space-around;
}
/* 時計のサイズ */
.size {
  font-size: 100px;
}


